# ROS2 build outputs
**/build/
**/install/
**/log/
**/run_logs/

# Python virtual env
**/.venv/
**/.venv_ros2/
**/__pycache__/
*.pyc

# temporary files
*.bak
*.bak_*
*~

# logs / bags / database
*.bag
*.db3
*.log

# secrets
*.pem
*.key
*.token
frpc_egm_ubuntu.toml

# editor
.vscode/
.idea/
.DS_Store
